x-app:
  name: kolibri
  title: Kolibri
  description: >
    Kolibri is an adaptable set of open solutions specially developed to support
    learning for the half of the world without Internet access. 

    Centered around an offline-first learning platform that runs on a variety of low-cost and legacy devices, the Kolibri Product Ecosystem includes a curricular tool, a library of open educational resources, and a toolkit of resources to support training and implementation in formal, informal, and non-formal learning environments.
  url: https://learningequality.org/kolibri/
  category: education
  icon: icon.png
  author: Koen Swings
  version: 97bd07c3e6e8d3d170f16f35721d64fe008d6c58
  instanceName: kolibri
services:
  kolibri:
    image: koenswings/kolibri:1.0-0.15.5-dev
    init: true
    restart: no
    pull_policy: never
    volumes:
      - ./data/docker:/docker/mnt
      - ./data/kolibri:/root/.kolibri
    network_mode: "host"        
    #ports:
    #  - ${port}:8080
    #  - 3000:3000
    environment:
      - KOLIBRI_RUN_MODE=docker
      # The following options do not seem to take effect
      #- KOLIBRI_PROVISIONDEVICE_FACILITY=Powerberries
      #- KOLIBRI_PROVISIONDEVICE_PRESET=nonformal
      #- KOLIBRI_PROVISIONDEVICE_SUPERUSERNAME=admin
      #- KOLIBRI_PROVISIONDEVICE_SUPERUSERPASSWORD=admin911!
